.header-image {
    background-image: url(“images/headercookingbook.png”);
    }
    
       .design {
            background-color: #7EBB78;
        }
          a:link {
            color: #DFD12C;
        }
        a:hover {
            color: #DFD12C;
        }
          a:visited {
            color: #DFD12C;
        }
        a:active {
            color: #DFD12C;
        }
          body,td,th {
            font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
            font-weight: normal;
        }


.navbar {
    margin-right: 50px;
}
.img-responsive{
    width:400px;
    height: 400px;
    
}
.table {
    color:rgb(0, 0, 0)
}
.icons {
    margin: 15px;
}

.icons svg {
    margin: 15px;
}

.row {
    justify-content: space-around; 
}
