.header-image {
    background-image: url(“images/headercookingbook.png”);
    }
.navbar {
    margin-right: 50px;
}
.img-responsive{
    width:400px;
    height: 400px;
    
}
.table {
    color:rgb(0, 0, 0)
}
.icons {
    margin: 15px;
}

.icons svg {
    margin: 15px;
}

.row {
    justify-content: space-around; 
}
